<div class="flex justify-center">
<div class="flex justify-between p-2 pr-8 pl-8 mt-8 items-center w-[90%] bg-[#1c1c1c] bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-20 border border-gray-100
 rounded-lg text-[#f0f0f0]">
  <div>
    <h1 class="font-inter font-bold text-[1.2rem] -rotate-45"> <svg
      id="svgIcon2"
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-asterisk-icon lucide-asterisk"
      ><path d="M12 6v12"></path><path d="M17.196 9 6.804 15"
      ></path><path d="m6.804 9 10.392 6"></path></svg
  ></h1>
  </div>
  <div class=" font-inter text-[1.2rem] font-bold flex gap-12 ">

      <a href="#aboutme" class="hover:bg-[#f0f0f0] cursor-none hover:text-[#1c1c1c] p-2 rounded-md transition-all duration-300 ease-in-out">about me</a>
      <a href="#skills" class="hover:bg-[#f0f0f0] cursor-none hover:text-[#1c1c1c] p-2 rounded-md transition-all duration-200 ease-in">skills</a>
      <a href="#projects" class="hover:bg-[#f0f0f0] cursor-none hover:text-[#1c1c1c] p-2 rounded-md transition-all duration-200 ease-in">projects</a>
      <a href="#conatact" class="hover:bg-[#f0f0f0] cursor-none hover:text-[#1c1c1c] p-2 rounded-md transition-all duration-200 ease-in">let's talk</a>
  
  </div>
</div>
</div>