<div class="flex justify-center">
<div class="flex justify-between p-2 pr-8 pl-8 mt-8 items-center w-[90%] bg-[#ffffff6e] bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-20 border border-gray-100
 rounded-lg">
  <div>
    <h1 class="font-inter font-bold text-[1.2rem]">MySpace</h1>
  </div>
  <div class=" font-inter text-[1.2rem] font-bold flex gap-12">

      <a href="" class="hover:bg-white p-2 rounded-md transition-all duration-300 ease-in">about me</a>
      <a href="" class="hover:bg-white p-2 rounded-md transition-all duration-300 ease-in">skills</a>
      <a href="" class="hover:bg-white p-2 rounded-md transition-all duration-300 ease-in">projects</a>
      <a href="" class="hover:bg-white p-2 rounded-md transition-all duration-300 ease-in">contact me</a>
  
  </div>
</div>
</div>
